<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html::head">
</head>
<body>
<div class="container">

    <div class="py-5 text-center">
        <h3>회원가입</h3>
    </div>
    <div class="row justify-content-center">

        <form class="col-6" th:action="@{/sign-up}" th:object="${signUpForm}" method="post">
            <div th:if="${#fields.hasGlobalErrors()}">
                <p class="field-error" th:each="err : ${#fields.globalErrors()}"
                   th:text="${err}">전체 오류 메시지</p></div>
            <div>
                <label for="email">Email</label>
                <input type="text" id="email" th:field="*{email}" th:errorClass="field-error"
                       class="form-control" placeholder="이메일을 입력하세요.">
                <div class="field-error" th:errors="*{email}"></div>
            </div>
            <div>
                <label for="nickname">Nickname</label>
                <input type="text" id="nickname" th:field="*{nickname}" th:errorClass="field-error"
                       class="form-control" placeholder="닉네임을 입력하세요.">
                <div class="field-error" th:errors="*{nickname}"></div>
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" id="password" th:field="*{password}" th:errorClass="field.error"
                       class="form-control" placeholder="패스워드를 입력하세요.">
                <div class="field-error" th:errors="*{password}"></div>
            </div>

            <hr class="my-4">

            <div class="text-center">
                <input class="btn btn-outline-primary" type="submit" value="Submit"></input>
                <input class="btn btn-outline-dark"
                        th:onclick="|location.href='@{/}'|"
                        type="button" value="Cancel">
                </input>
            </div>
        </form>
    </div>
</div>
<footer th:replace="fragments.html::footer" >
</footer>
</body>
</html>